@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background-color: #1f242d;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222222;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 25px 10%;
  z-index: 9999;
}

.logo {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 27px;
  cursor: default;
  animation: slideLeft 1s ease forwards;
  opacity: 0;
}

.navbar a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 0px 16px;
  font-weight: 600;
  transition: 0.3s all;
  animation: navMenu 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  opacity: 0;
}

.navbar a:hover {
  color: #0ef;
}

.navbar a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #fff;
  transform: scaleX(0);
}

.navbar a:hover::after {
  transform: scaleX(0.5);
  transition: 0.2s linear;
}

#burger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.hero-container {
  display: flex;
  padding: 25px 10%;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.blur {
  position: absolute;
  box-shadow: 0 0 1000px 50px #1d4ed8;
  z-index: -100;
}

.info-side h3 {
  font-size: 30px;
  font-weight: 700;
  margin: 10px 0;
  letter-spacing: 1px;
}

.info-side h1 {
  font-size: 75px;
  letter-spacing: 1px;
  font-weight: 700;
  animation: slideRight 0.5s ease forwards;
  opacity: 0;
  animation-delay: 1s;
}

.info-side h3 span {
  color: #0ef;
}

.part-1 {
  animation: part1 1s ease forwards;
  opacity: 0;
}

.part-2 {
  animation: part2 1s ease forwards;
  opacity: 0;
}

.info-side p {
  line-height: 27px;
  margin: 20px 0px 40px 0px;
  text-align: justify;
  animation: slideLeftP 1s ease forwards;
  opacity: 0;
  animation-delay: 1.2s;
}

.hero-image img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin-left: 3rem;
  animation: zoomIn 1s ease forwards;
  animation-delay: 1s;
  opacity: 0;
}

#social-media-icon {
  position: relative;
  border: 2px solid #0ef;
  padding: 10px;
  border-radius: 50%;
  color: #0ef;
  margin: 0px 8px;
  transition: 0.3s;
  animation: socialMedia 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  opacity: 0;
}

#social-media-icon:hover {
  box-shadow: 0 0 20px #0ef;
}

button {
  background-color: #0ef;
  margin-top: 50px;
  padding: 20px 70px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.1s;
  box-shadow: none;
  animation: button 1s ease forwards;
  animation-delay: 1.5s;
  opacity: 0;
}

button:hover {
  box-shadow: 0 0 15px #0ef;
  color: white;
}

/* ========> Animation <======== */

@keyframes slideLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes navMenu {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes part1 {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes part2 {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeftP {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes socialMedia {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes button {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* ===> About Section <=== */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 25px 10%;
  margin: 20px 0px;
  background-color: #323946;
  min-height: 100vh;
}

.about-img img {
  width: 400px;
  height: 400px;
  border-radius: 30px;
}

.heading {
  text-align: left;
  font-size: 60px;
}

.heading span {
  color: #0ef;
}

.about-content h3 {
  font-size: 1.6rem;
}

.about-content p {
  line-height: 27px;
  text-align: justify;
  margin: 2rem 0 1rem;
}

/* ===> Education Section <=== */
.education {
  gap: 2rem;
  padding: 25px 10%;
  margin: 20px 0px;
  background-color: #1f242d;
  min-height: 100vh;
}

.education .heading {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.education .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.edu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 250px;
  height: 320px;
}

.edu-card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.2s ease;
  cursor: pointer;
}

.edu-card:hover {
  transform: rotateY(180deg);
}

.front-card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  background: #323946;
  color: white;
  box-shadow: 0 0 20px #0ef;
}

.card-logo {
  background-color: #fff;
  height: 160px;
}

.card-logo img {
  width: 250px;
  height: 150px;
}

.front-content {
  padding: 15px;
  text-align: center;
}

.back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  background: rgb(235, 235, 235);
  color: black;
  transform: rotateY(180deg);
}

.back-content {
  padding: 15px;
  text-align: center;
}

.address {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 10px;
}

#map {
  font-size: 28px;
  border: none;
  padding: 0;
  margin: 0;
  color: black;
}

#map:hover {
  box-shadow: none;
}

/* ===> Skills Section <=== */
.skills {
  gap: 2rem;
  padding: 25px 10%;
  margin: 20px 0px;
  background-color: #323946;
  min-height: 100vh;
}

.skills .heading {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.skill-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 450px;
  background: #1f242d;
  border: 2px solid #0ef;
  padding: 40px;
  border-radius: 0px 30px 0px 30px;
  overflow: hidden;
}

.skill-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 1s ease-in-out;
}

.skill-title {
  text-align: center;
  margin-bottom: 2rem;
}

.skill-list {
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* Membagi menjadi dua kolom dengan lebar yang sama */
  gap: 1rem 3rem;
}

.skill-list .left {
  margin-left: 2.5rem;
}

#arrow-icon {
  font-size: 30px;
}

.wrapper.active .skill-card.hard {
  transform: translateY(-450px);
}

.wrapper .skill-card.soft {
  position: absolute;
  top: 450px;
  left: 0;
}

.wrapper.active .skill-card.soft {
  transform: translateY(-450px);
}

.detail {
  margin-top: 2rem;
  text-align: center;
}

.softBtn-link,
.hardBtn-link {
  color: #0ef;
  cursor: pointer;
  font-size: 16px;
}

.softBtn-link:hover,
.hardBtn-link:hover {
  text-decoration: underline;
}

/* ===> Media Queries <===*/

/* Dekstop */
@media (max-width: 1200px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

/* Handphone */
@media (max-width: 600px) {
  html {
    font-size: 55%;
  }

  /* Navbar */
  #burger-menu {
    display: inline-block;
  }

  .header {
    padding: 15px;
  }

  .logo {
    font-size: 2rem;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 25rem;
    height: 100vh;
    transition: 0.3s;
    background-color: #222222;
    opacity: 0.9;
  }

  .header .navbar.active {
    right: 0;
  }

  .navbar a {
    color: white;
    display: block;
    margin: 3rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar-nav a::after {
    transform-origin: 1 0;
  }

  .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  /* Hero Section */
  #home .hero-container {
    flex-wrap: wrap-reverse;
    padding: 15px 7%;
  }

  .blur {
    position: relative;
  }

  .info-side {
    margin-top: 3rem;
  }

  .info-side h1 {
    font-size: 36px;
  }

  .info-side h3 {
    font-size: 16px;
  }

  .info-side p,
  .about-content p {
    line-height: 18px;
    font-size: 12px;
  }

  .hero-image img {
    height: 250px;
    width: 250px;
    object-position: center;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-size: 1rem;
    height: 20px;
    width: 50px;
  }

  /* About Section */
  .about {
    flex-wrap: wrap;
    padding: 15px 7%;
  }

  .heading {
    font-size: 32px;
  }

  .about-img img {
    height: 300px;
    width: 300px;
    object-position: center;
    margin-top: 7rem;
  }

  .about-content h3 {
    font-size: 16px;
  }

  /* Education Section */
  .edu-container {
    width: 230px;
    height: 280px;
  }

  .card-logo img {
    width: 230px;
    height: 150px;
  }

  .front-content {
    margin: auto;
    align-items: center;
    text-align: center;
  }

  .back-content {
    line-height: 24px;
  }

  /* Skills Section */
  .skills .heading {
    margin-top: 8rem;
    margin-bottom: 5rem;
  }

  .skill-title {
    font-size: 16px;
  }

  .skill-list {
    font-size: 14px;
    gap: 3rem 4rem;
  }

  .skill-list .right {
    margin-right: 28px;
  }

  .skill-card.soft .skill-container .skill-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0;
    line-height: 36px;
  }

  .detail {
    margin-top: 3rem;
  }
}
